<div id='form-verify-email'>
  <h3>Verify Email</h3>
  <p>You`re one step away from joining!</p>


  <p>We`re really excited to have you around, so please check and conform your email address!</p>

  <a>Resend Email</a>
  <a>Back to Sign Up</a>

</div>
